<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    
 <bean id="springCollection" class="com.gubs.springTutorial.SpringCollection">
 
	<property name="addressProp">
        <props>
           <prop key="one">INDIA</prop>
           <prop key="two">Pakistan</prop>
           <prop key="three">USA</prop>
           <prop key="four">USA</prop>
        </props>
      </property>
      
      <property name="addressList">
      	<list>
      	  <value>INDIA</value>
      	  <value>PAK</value>
      	  <value>SAUDI</value>
      	</list>
      </property>
      
      <property name="addressMap">
      	<map>
      		<entry key="india" value="tryToGood"></entry>
      		<entry key="pak" value="terrors"></entry>
      	</map>
      </property>
      
      <property name="addressSet">
      	<set>
      		<value>INDIA</value>
      		<value>PAK</value>
      	</set>
      </property>
      
 </bean>
 
 </beans>